@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "dark-rover";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(10% 0.091 267.935);
  --color-base-300: oklch(20% 0.091 267.935);
  --color-base-content: oklch(97% 0.014 254.604);
  --color-primary: oklch(44% 0.177 26.899);
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(42% 0.199 265.638);
  --color-secondary-content: oklch(97% 0.014 254.604);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(44% 0.043 257.281);
  --color-neutral-content: oklch(97% 0.014 254.604);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(50% 0.17 162.48);
  --color-success-content: oklch(97% 0.014 254.604);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(97% 0.014 254.604);
  --color-error: oklch(45% 0.245 27.325);
  --color-error-content: oklch(97% 0.014 254.604);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "light-rover";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95% 0.038 75.164);
  --color-base-200: oklch(83% 0.128 66.29);
  --color-base-300: oklch(70% 0.213 47.604);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(80% 0.105 251.813);
  --color-primary-content: oklch(20% 0.042 265.755);
  --color-secondary: oklch(81% 0.111 293.571);
  --color-secondary-content: oklch(20% 0.042 265.755);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(20% 0.042 265.755);
  --color-neutral: oklch(86% 0.022 252.894);
  --color-neutral-content: oklch(20% 0.042 265.755);
  --color-info: oklch(85% 0.138 181.071);
  --color-info-content: oklch(20% 0.042 265.755);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(20% 0.042 265.755);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(20% 0.042 265.755);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(20% 0.042 265.755);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@layer utilities {
  @keyframes curtain-in {
    0% {
      width: 0%;
      right: 0;
    }
    100% {
      width: 100%;
      right: 0;
    }
  }

  @keyframes curtain-out {
    0% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0%;
      left: 0;
    }
  }

  @keyframes grow {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .animate-curtain-in {
    animation: curtain-in 0.25s ease-in-out forwards;
  }

  .animate-curtain-out {
    animation: curtain-out 0.25s ease-in-out forwards;
  }
  .animate-grow {
    animation: grow 0.25s ease-in-out forwards;
  }
}
.content {
  width: 90vw;
	max-width: calc(100% - 2em);
	margin: auto;
}
main {
	width: 60vw;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
