---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
const {page_title} = Astro.props
---
<meta charset="utf-8" />
<meta name="keywords" content="Mars Rover, Johns Hopkins University, JHU, URC, University Rover Challenge, Rover, Hopkinauts, Hopkins">
<meta name="description" content="Website for the Mars Rover Team of Johns Hopkins University">
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<title>{page_title}</title>